* {
    background-color: rgb(8, 19, 226);

}

h1 {
     color: white;
     font-size: 100px;
     text-align: center;
     margin-top: 255px;
}

h2 {
     color: white;
     font-size: 50px;
     text-align: center;
     margin-top: 5px;
}

.ok { 
      height: 600px;
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: brown;
}

div { 
      border: 2px solid white; 
      justify-content: center;
      background-color: pink;
      height: 100px;
      width: 100px;
      color: aliceblue;
}
