* {
    background-color: rgb(202, 215, 17);
}

h1 {
     color: white;
     font-size: 100px;
     text-align: center;
     margin-top: 255px;
}

h2 {
     color: white;
     font-size: 50px;
     text-align: center;
     margin-top: 5px;
}


div { 
      border: 2px solid white; 
      justify-content: center;
      background-color: black;
      height: 100px;
      width: 100px;
      color: aliceblue;
}


