* {
    background-color: rgb(47, 215, 17);
}

h1 {
     color: white;
     font-size: 100px;
     text-align: center;
     margin-top: 255px;
}

h2 {
     color: white;
     font-size: 50px;
     text-align: center;
     margin-top: 5px;
}


div {
      background-color: black;
      height: 100px;
      width: 100px;
}


