* {
    background-color: pink;

}

h1 {
     color: white;
     font-size: 100px;
     text-align: center;
     margin-top: 255px;
}

h2 {
     color: white;
     font-size: 50px;
     text-align: center;
     margin-top: 5px;
}

div { 
      border: 2px solid white; 
      justify-content: center;
      background-color: rgb(197, 237, 21);
      height: 100px;
      width: 100px;
      color: aliceblue;
}

